@{ ViewData["Title"] = "Covid-19 F Case Management"; }
<div class="text-center">
    <h1> Covid-19 F Case Management </h1>
</div>
<div class="home-logo text-center">
    <img src="~/imgs/logo.png" alt="" />
</div>