@{
    ViewData["Title"] = "Covid-19 Case Management";
}

<div class="text-center">
    <br />
    <h2 class="display-4">Covid-19 Case Management</h2>
    <br />
    <div class="home-logo text-center">
        <img src="~/imgs/logo2.png" alt="" />
    </div>
</div>
