<nav class="quick-nav">
    <a class="quick-nav-trigger" href="#0">
        <span aria-hidden="true"></span>
    </a>
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Index" asp-area="" class="active">
                <span>Trang chính</span>
                <i class="icon-grid"></i>
            </a>
        </li>
        @*<li>
            <a asp-controller="Home" asp-action="Index" asp-area="BusinessPlan">
                <span>Quản lý chương trình công tác</span>
                <i class="icon-note"></i>
            </a>
        </li>
        <li>
            <a asp-controller="PTHome" asp-action="Index" asp-area="PresumptiveTax">
                <span>Hỗ trợ QLT cá nhân kinh doanh</span>
                <i class="icon-users"></i>
            </a>
        </li>*@
        @*<li>
            <a asp-controller="WTHome" asp-action="Index" asp-area="WT">
                <span>Theo dõi công việc</span>
                <i class="icon-users"></i>
            </a>
        </li>*@
        @*<li>
            <a asp-controller="VanThuHome" asp-action="Index" asp-area="VanThu">
                <span>Theo dõi hồ sơ</span>
                <i class="icon-users"></i>
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Index" asp-area="SMS">
                <span>Quản lý công chức</span>
                <i class="icon-users"></i>
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Index" asp-area="YB">
                <span>Kỷ yếu điện tử</span>
                <i class="fa fa-book"></i>
            </a>
        </li>
        <li>
            <a asp-controller="Phonebook" asp-action="Index" asp-area="WS">
                <span>Danh bạ điện thoại</span>
                <i class="fa fa-phone"></i>
            </a>
        </li>*@
        <li>
            <a asp-controller="Home" asp-action="Index" asp-area="SM" class="active">
                <span>Quản trị hệ thống</span>
                <i class="icon-settings"></i>
            </a>
        </li>
    </ul>
    <span aria-hidden="true" class="quick-nav-bg"></span>
</nav>
<div class="quick-nav-overlay"></div>