@using Microsoft.AspNetCore.Http;
@{
    var name = Context.Session.GetString("AccountName");
}
<a href="javascript:;" class="menu-toggler"></a>
<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-user dropdown-dark">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img alt="" class="img-circle" src="~/imgs/logo2.png">
                <span class="username username-hide-mobile">
                    @name
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                @if (!string.IsNullOrEmpty(name))
                {
                    <li>
                        <a href="@Url.RouteUrl("UserChangePassword")">
                            <i class="icon-key"></i> ĐỔI MẬT KHẨU
                        </a>
                    </li>
                }
                <li>
                    <a href="@Url.RouteUrl("AdminLogin_Index")">
                        <i class="icon-key"></i> @(string.IsNullOrEmpty(name)? Html.Raw("ĐĂNG NHẬP") : Html.Raw("ĐĂNG XUẤT"))
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>