@{
    ViewData["Title"] = "Access Denined";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-hand-stop-o font-red-flamingo"></i>
                    <span class="caption-subject font-red-flamingo bold ">Từ chối truy cập!</span>
                </div>
            </div>
            <div class="portlet-body">
                <h1 class="text-center font-red">Quí vị chưa được cấp quyền sử dụng chức năng này!</h1>
            </div>
        </div>
    </div>
</div>
