.page-header .page-header-top .page-logo {
    width: 80px;
}

.page-header .page-header-top .site-title {
    float: left;
    display: block;
    height: 75px;
}

.page-header .page-header-top .page-logo .logo-default {
    margin: 5px 0 0 0;
}

.page-title-h3 {
    font-family: 'Roboto Condensed',sans-serif;
    margin-top: 5px;
}
.select2-container {
    display: inline-block !important;
}
.sweet-overlay {
    z-index: 999999;
}

.sweet-alert {
    z-index: 9999991;
}
.swal2-container {
    z-index: 999999!important;
}